/* General Properties */
:root {
    --dark: lightseagreen;
    --light: mintcream;
    --black: darkslategrey;
}

* {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: var(--black);
}

/* Heading Properties */
header {
    display:flex;
    width: 100%;
    height: 100px;
    background-color: var(--black);
    align-items: center;
    justify-content: space-between;
}

#name {
    background-color: var(--light);
    font-weight: bolder;
    font-size: 40px;
    color: var(--dark);
    padding-left: 80px;
}

header a {
    font-size: 20px;
    color: var(--light);
    padding-right: 15px;
}

header a:hover {
    text-decoration: none;
    color: var(--dark);
    background-color: var(--black);
}

/* Figure Properties */
figure {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    margin: 0px;
    padding: 20px;
    background-image: url('images/header-image.png');
    background-position: center;
    background-repeat: repeat;
}

figure img {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100px;
    outline: 10px solid var(--dark);
}

figure h1 {
    display: flex;
    font-weight: bolder;
    font-size: 30px;
    align-items: end;
}

figure span {
    background-color: var(--light);
    color: var(--dark);
}

/* Properties to style the Main Area */
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 15px;
}

section {
    padding: 15px;
    display: flex;
    justify-content: right;
    text-align: left;
    margin: 0px auto;
    width: 80%;
}

section h2 {
    display: inline;
    text-align: right;
    align-items:top;
    color: var(--black);
    width: 15%;
    padding-right: 10px;
}

section article {
    display: inline;
    padding-left: 20px;
    padding-top: 0px;
    border-left: 5px solid var(--black);
    width: 85%;
}

article p {
    padding-bottom: 5px;
}

.link-list {
    display: flex;
    justify-content: space-evenly;
}

article a {
    font-size: 20px;
    color: var(--black);
}

article a:hover {
    text-decoration: none;
    color: var(--dark);
}

/* Stylize the article images */

.work-images {
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    outline: 10px solid var(--dark);
    position: relative;
    transition: filter 2s;
}

.big {
    width:80%;
    height: 300px;
    margin: 20px auto;
}

.small {
    width:45%;
    height: 85%;
}

.titles {
    margin: 10px auto;
    position: absolute;
    bottom: 20px;
    padding: 10px 5px 5px 20px;
    background-color:var(--dark);
    color:var(--black);
}

article h3 {
    font-weight: bolder;
    font-size: 24px;
    line-height: 5px;
}

article h4 {
    font-size: 16px;
}

.inline-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    width: 80%;
    height:200px;
}

.work-images:hover {
    filter: brightness(1.5);
}

.work-images a {
    width:100%;
    height:100%;
    z-index: 10;
}

#i01 {
    background-image: url('images/work-01.jpg');
}
#i02 {
    background-image: url('images/work-02.jpg');
}
#i03 {
    background-image: url('images/work-03.jpg');
}
#i04 {
    background-image: url('images/work-04.jpg');
}
#i05 {
    background-image: url('images/work-05.jpg');
}


/* Attributes for the footer */
footer {
    display:flex;
    width: 100%;
    height: 50px;
    background-color: var(--black);
    align-items: center;
    justify-content: center;
    color: var(--dark);
    margin-top: 50px;
}
